<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="USER_LOGINS_csv" value="D:\License_Project\files\User_Logins.csv"/>
    <add key="ADMIN_LOGINS_csv" value="D:\License_Project\files\Admin_Logins.csv"/>
    <add key="HEADER_FILEPATH" value="D:\License_Project\files\header.txt"/>
  </appSettings>
</configuration>